<p>
	<a href="/songs/new">Add a song!</a>
</p>
<% @songs.each do |song| %>
	<div class="song">
		<h3><a href="/songs/<%= song.id %>"><%= song.title %></a><br/>
		<small><%= song.author %> </small></h3>
	</div>
<% end %>